# Define the OpenAI API key here if you want to use a local .env file for that.
OPENAI_API_KEY=....

# Or the Azure OpenAI API details. 
# To use Entra ID authentication, don't set the API key.
AZURE_OPENAI_API_KEY=....
AZURE_OPENAI_ENDPOINT=....
